.group-card {
    width: 195px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.group-card a {
    text-decoration: none;
    color: #000;
}

.group-card__rof {
    font-size: 14px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
}

.group-card__body img {
    width: 175px;
    height: 175px;
    border-radius: 5px;
}

.group-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.group-card__subscribe {
    width: 135px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    height: 30px;
    cursor: pointer;
}

.group-card__subscribe img {
    padding: 2px 0;
    margin-right: 5px;
}

.group-card__subscribe span {
    color: #FF0000;
    font-size: 14px;
    font-weight: 500;
}

.group-card__info {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    height: 30px;
}

.group-card__info img {
    padding: 2px 4px;
}