.post {
    width: 550px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.post-rof {
    display: flex;
    justify-content: space-between;
}

.post-profile__info {
    display: flex;
    align-items: center;
}

.post-profile__image {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.post-profile__fullname {
    font-size: 15px;
}

.post-dots {
    cursor: pointer;
}

.post-dots:hover .post-event {
    transform: scale(1);
    opacity: 1;
}

.post-body {
    margin: 10px 0;
}

.post-body__text {
    width: 530px;
    font-size: 14px;
    margin-bottom: 10px;
}

.post-body__big-image img {
    width: 530px;
    height: 350px;
}

.post-footer {
    position: relative;
    display: flex;
    align-items: center;
}

.post-footer__like {
    width: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-footer__like span {
    font-size: 12px;
    color: #6F6F6F;
    margin-left: 5px;
}

.post-footer__comment {
    width: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.post-footer__comment span {
    font-size: 12px;
    color: #6F6F6F;
    margin-left: 5px;
}

.post-footer__share {
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 0;
}