.profile-card {
    width: 280px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
}

.profile-card__rof {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d3d3;
}

.profile-card__info {
    max-width: 126px;
}

.profile-card__fullname {
    font-size: 16px;
}

.profile-card__login {
    color: #AEAEAE;
    font-size: 13px;
}

.profile-card__notification {
    cursor: pointer;
}

.profile-card__image {
    width: 80px;
    height: 80px;
}

.profile-card__body {
    display: flex;
    margin-top: 10px;
}

.profile-card__body-music__image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.profile-card__body-info__rof {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-card__body-music__name {
    font-size: 14px;
    font-weight: 500;
}

.profile-card__body-music__author {
    font-size: 12px;
}

.profile-card__body-music__images {
    display: flex;
    align-items: center;
}

.profile-card__body-music__images img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.profile-card__body-music__play {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile-card__body-info__body {
    position: relative;
    width: 200px;
}

.profile-card__lines {
    position: absolute;
    bottom: -18px;
}

.profile-line__all {
    width: 200px;
    position: absolute;
    bottom: 0;
    border: 1px solid #d4d3d3;
}

.profile-line__noall {
    top: -2px;
    position: absolute;
    width: 120px;
    border: 1px solid #000;
}